.Leader__detailes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    direction: rtl;
}
.Leader__detailes-hearder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;

}
.Leader__detailes-hearder h1{
    font-family: var(--font-2);
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 1rem;
    color: #eee4e0;
}
.Leader__detailes-hearder h3{ 
    font-family: var(--font-1);
    font-size: 24px;
    text-align: start;
    font-weight: 200;
    line-height: 24px;
    color: #eee4e0;
    margin-bottom: 1rem;
}
.Leader__A_detailes-hearder__detailes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.Leader__A_detailes-hearder__detailes-acc{
    display: flex;
    justify-content: flex-start;
    gap: 1px;
}
.Leader__A_detailes-hearder__detailes-acc img{
    width: 50px;
    height: 45px;
    border-radius: 5rem;
}
.Leader__A_detailes-hearder__detailes h3{
    margin: 1rem;
}
.Leader__detailes-cover{
    width: 100%;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Leader__detailes-cover img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: fill;
}
.Leader__detailes-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
}
.Leader__detailes-container p {
    font-family: var(--font-3);
    color: #eee4e0;
    text-align: start;
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
    margin: 2rem;
}
.Leader__detailes-container h4{
    font-family: var(--font-2);
    color: #eeebea;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    margin: 0;
}
.Leader__news_detailes-hearder__detailes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

@media screen and (max-width : 890px){
    .Leader__A_detailes-hearder__detailes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .Leader__detailes-container{
        padding: 0.5rem;
    }
}
@media screen and (max-width : 750px){
    .Leader__detailes-hearder h1{
        font-size: 32px;
        line-height: 38px;
    }
    .Leader__detailes-container p {
        font-size: 22px;
        line-height: 38px;
        margin: 1rem;
    }
}

@media screen and (max-width : 650px){
    .Leader__detailes{
        padding:0.5rem;
    }
    .Leader__detailes-hearder h1{
        font-size: 20px;
        line-height: 32px;
    }
    .Leader__detailes-hearder h3{ 
        font-size: 18px;
        line-height: 22px;
    }
    .Leader__A_detailes-hearder__detailes{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .Leader__detailes-container{
        padding: 0.25rem;
    }
    .Leader__detailes-container h4,
    .Leader__detailes-container p {
        font-size: 18px;
        line-height: 36px;
        margin: 0.1rem;
    }
}